{% extends "budget_view.html" %}
{% block content %}
<div class="col-md-9 ms-sm-auto col-lg-10 px-md-4 ">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Dashboard</h1>
        <div class="btn-toolbar mb-2 mb-md-0 ">
          <div class="btn-group me-2">
            <button type="button" class="btn btn-sm btn-outline-secondary">Share</button>
            <button type="button" class="btn btn-sm btn-outline-secondary">Export</button>
          </div>
          <button type="button" class="btn btn-sm btn-outline-secondary dropdown-toggle d-flex align-items-center gap-1">
            <svg class="bi"><use xlink:href="#calendar3"></use></svg>
            This month
          </button>
        </div>
      </div>

      <div class="col-md-12 ">
        <div class="row">
          <div class="col-md-6">
            <canvas class="my-4" id="income_chart" style="display: block; position:relative; box-sizing: border-box; width: 100%; height: 300px;"></canvas>
          </div>
          <div class="col-md-6"><canvas class="my-4" id="expense_chart" style="display: block; position:relative; box-sizing: border-box; width: 100%; height: 300px; "></canvas></div>
        </div>
      </div>
      <h2>More stats</h2>
</div>

    <script src="https://cdn.jsdelivr.net/npm/chart.js@4.3.2/dist/chart.umd.js"
            integrity="sha384-eI7PSr3L1XLISH8JdDII5YN/njoSsxfbrkCTnJrzXt+ENP5MOVBxD+l6sEG4zoLp"
            crossorigin="anonymous"></script>
<script>
  var income_data = {{ incomeChart | tojson }};
  var expense_data = {{ expenseChart | tojson }};
</script>

    <script src="../static/js/dashboard.js"></script>
{% endblock %}