{% include "header.html" %}
<html lang="en">
<div class="px-4 py-5 my-5 text-center vh-100">
<!--    <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">-->
    <h1 class="display-5 fw-bold text-body-emphasis">
        Centered hero
    </h1>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4">
          Quickly design and customize responsive mobile-first sites with Bootstrap, the world’s most popular front-end
          open source toolkit, featuring Sass variables and mixins, responsive grid system, extensive prebuilt
          components, and powerful JavaScript plugins.
      </p>
      <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">
            <a href="{{  url_for('budget_form')  }}" class="nav-link">
                {% if current_user.is_authenticated %}
                Make Budget
                {% else %}
                Register
                {% endif %}
            </a>
        </button>
          {% if not current_user.is_authenticated %}
          <button type="button" class="btn btn-outline-secondary btn-lg px-4">
            <a href="{{  url_for('login')  }}" class="nav-link">Login</a>
            </button>
            {% else %}
             <button type="button" class="btn btn-outline-secondary btn-lg px-4" data-bs-toggle="modal"
                            data-bs-target="#budgetModal">
                        View Budget
             </button>
          <div class="modal fade" id="budgetModal" tabindex="-1" aria-labelledby="budgetModalLabel"
                 aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="budgetModeLabel">Choose a budget</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
{% if budget_list %}
    <div class="row">
        {% for x in budget_list %}
        <div class="d-flex flex-column flex-md-row gap-4 align-items-center justify-content-center">
            <div class="list-group list-group d-grid gap-2 border-0 w-75 ">
                <a href="{{ url_for('budget_view', budget_id=x.id) }}" name="{{ x.name }}" id="{{ x.name }}"
                   style="text-decoration: none;">
                <div class="list-group-item-check pe-none text-center"  >
                    <label class="list-group-item rounded-3 py-3" for="{{ x.name }}">
                        {{ x.name }}
                        <span class="d-block small opacity-50">
                            {{ 'Starts: ' + x.start_date + ', Ends: ' + x.end_date }}
                        </span>
                    </label>
                </div>
                </a>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endif %}
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
            </div>
        </div>

            {% endif %}

                </div>

    </div>
  </div>
</html>
{% include "footer.html" %}