{% from "bootstrap5/form.html" import render_field %}
{% block styles %}
<script src="{{ url_for('static', filename='/js/budgetsetup.js') }}"></script>
<script id="expensesData" type="application/json">{{ expenses | tojson }}</script>

<script id="incomesData" type="application/json">{{ incomes | tojson }}</script>
{% endblock %}
{% block content %}
{% include "header.html" %}
<div class="bd-example-snippet bd-code-snippet">
    <p class="display-6 px-3">This is where you input your expected recurring income , expenses and savings.</p>
    <div class="bd-example m-0 border-0">
        <p class="display-6 px-3">Recurring income</p>
                <div class=" px-5">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Income</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody id="itemTableBody">

                        </tbody>
                    </table>
                    <div id="totalSection">
                        <strong>Total Income: </strong> KSH. <span id="totalIncome">0</span>
                    </div>
                    <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal" data-bs-target="#exampleModal">
                        Add item
                    </button>
                </div>
                <!-- Your existing modal code -->
                <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
                 aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add New Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
<!-- TODO Remember to add start and end date input for cases where they don't run the course of the entire budgeting time span-->
              <div class="modal-body">
                <form id="addItemForm" onsubmit="addItem(event)">
                  <input type="hidden" id="budgetIdInput" name="budget_id" class="form-control" value="{{ budget_id }}" required>
                  <div class="mb-3">
                    <label for="incomeNameInput" class="form-label">Income Name</label>
                    <input type="text" id="incomeNameInput" name="income_name" class="form-control" placeholder="Enter Income Name" required>
                  </div>
                  <div class="mb-3">
                    <label for="incomeInput" class="form-label">Income Amount</label>
                    <input type="number" id="incomeInput" name="income" class="form-control" placeholder="Enter Amount" required>
                  </div>
                  <div class="mb-3">
                    <label for="descriptionInput" class="form-label">Description</label>
                    <input type="text" id="descriptionInput" name="description" class="form-control" placeholder="Enter Description" required>
                  </div>
                  <div class="mb-3">
                    <label for="dateInput" class="form-label">Income Date</label>
                    <input type="number" id="dateInput" name="date" class="form-control" placeholder="Enter Date" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
                    </div>
                </div>
                <p class="px-3 display-6">Recurring expenses</p>
                <div class=" px-5" >
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Income</th>
                                <th scope="col">Amount</th>
                                <th scope="col">Description</th>
                            </tr>
                        </thead>
                        <tbody id="itemTable2Body">

                        </tbody>
                    </table>
                    <!-- Total Section -->
                    <div id="total2Section">
                        <strong>Total Income: </strong> KSH. <span id="totalExpense">0</span>
                    </div>
                    <button type="button" class="btn btn-primary ml-auto" data-bs-toggle="modal"
                            data-bs-target="#expenseModal">
                        Add item
                    </button>
                </div>
                <!-- Your existing modal code -->
                <div class="modal fade" id="expenseModal" tabindex="-1" aria-labelledby="expenseModalLabel"
                 aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="expenseModalLabel">Add New Item</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                <form id="addItem2Form" onsubmit="addRecurringExpense(event)">
                  <input type="hidden" id="budgetId2Input" name="budget_id" class="form-control" value="{{ budget_id }}" required>
                  <div class="mb-3">
                    <label for="expenseNameInput" class="form-label">Expense Name</label>
                    <input type="text" id="expenseNameInput" name="expense_name" class="form-control" placeholder="Enter Expense Name" required>
                  </div>
                  <div class="mb-3">
                    <label for="expenseInput" class="form-label">Expense Amount</label>
                    <input type="number" id="expenseInput" name="expense" class="form-control" placeholder="Enter Amount" required>
                  </div>
                  <div class="mb-3">
                    <label for="description2Input" class="form-label">Description</label>
                    <input type="text" id="description2Input" name="description" class="form-control" placeholder="Enter Description" required>
                  </div>
                  <div class="mb-3">
<!--                  TODO    fix this to abe a dropdown with the option to make a new category-->
                    <label for="category2Input" class="form-label">Category</label>
                    <input type="text" id="category2Input" name="category" class="form-control" placeholder="Enter category" required>
                  </div>
                  <div class="mb-3">
                    <label for="date2Input" class="form-label">Due Date</label>
                    <input type="number" id="date2Input" name="date" class="form-control" placeholder="Enter Date" required>
                  </div>
                  <button type="submit" class="btn btn-primary">Add</button>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              </div>
        </div>
            </div>
        </div>
    </div>
</div>

<!--THE BUTTON BELLOW ONLY HAS TO REDIRECT TO THE BUDGET DASHBOARD CAUSE ALL ENTRIES ARE SENT TO THE DB ALREADY THOUGH A
    TODO IS TO ADD A CATCH FOR IF INCOME IS LESS THAN EXPENSES -->
<div class="d-flex justify-content-center">
    <button type="button" class="btn btn-outline-danger"><a href="{{ url_for('budget_view', budget_id=budget_id) }}">Done</a></button>
</div>
{% include "footer.html" %}
{% endblock %}